html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed-desc {
    max-width: 300px; /* or any value */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary {
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 10;
    cursor: pointer;
    transition: all 0.4s ease;
}

input.input-validation-error,
select.input-validation-error {
    border-color: red;
}

.toast-message {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #7d2ae8;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    z-index: 9999;
    display: none;
}